@model IEnumerable<Dostava_projekat.Models.Porudzbina>
<link rel="stylesheet" href="~/CSS/potrosacpage2.css" type="text/css" />
@{
    ViewBag.Title = "Potrosac";
}

@if (ViewBag.model.ImagePath != null)
{
    <div class="profile-pic">
        <img src="@Url.Content("~/Images/" + ViewBag.model.ImagePath)" alt="chosen picture" />
    </div>
}

<div class="change">
    <ul>
        <li>
            <a id="a1" href="~/Korisnik/Profil" class="btn-link">Update profile</a>
        </li>
        <li>
            <form method="post" action="~/Potrosac/Poruci">
                <input type="submit" value="Order food" class="btn btn-primary" />
            </form>
        </li>
    </ul>
</div>

<hr />

<h4>Your Completed Deliveries</h4>

<table class="orders-table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Amount</th>
            <th>Address</th>
            <th>Comment</th>
            <th>Price</th>
            <th>Delivery Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dostava_projekat.Models.Porudzbina item in Model)
        {
            if (item.Status == "ZAVRSENO" && @ViewBag.model.Adresa == item.Adresa)
            {
                <tr class="completed-order">
                    <td>@item.StaPorucuje</td>
                    <td>@item.Kolicina</td>
                    <td>@item.Adresa</td>
                    <td>@item.Komentar</td>
                    <td>@item.CenaPorudzbine</td>
                    <td>@item.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

