@model IEnumerable<Dostava_projekat.Models.Porudzbina>
<link rel="stylesheet" href="~/CSS/potrosacpage2.css" type="text/css" />
@{
    ViewBag.Title = "Potrosac";
}

@if (ViewBag.model.ImagePath != null)
{
    <div class="pic">
        <img src="@Url.Content("~/Images/" + ViewBag.model.ImagePath)" alt="chosen picture" />
    </div>

}
<div class="change">
    <ul>
        <li>
            <a id="a1" href="~/Korisnik/Profil">Update profile</a>
        </li>
        <li>
            <form method="post" action="~/Potrosac/Poruci">
                <input type="submit" value="Order food" />
            </form>
        </li>
    </ul>
</div>

<hr />
<h4>All your completed deliveries</h4>

<table border="1">
    <tr>
        <th>Order</th>
        <th>Anount</th>
        <th>Address</th>
        <th>Comment</th>
        <th>Price</th>
        <th>Delivery status</th>
    </tr>

    @foreach (Dostava_projekat.Models.Porudzbina item in Model)
    {
        //prepravi u zavrseno

        if (item.Status == "ZAVRSENO" && @ViewBag.model.Adresa == item.Adresa)
        {
            <tr class="cv">
                <td>@item.StaPorucuje</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Komentar</td>
                <td>@item.CenaPorudzbine</td>
                <td>@item.Status</td>
            </tr>
        }
    }
</table>


