<link rel="stylesheet" href="~/CSS/admin.css" type="text/css" />
@model IEnumerable<Dostava_projekat.Models.Porudzbina>
@using Dostava_projekat.Models;
@{
    ViewBag.Title = "AdminPage";
}

@if (ViewBag.model.ImagePath != null)
{
        <div class="pic">
            <img src="@Url.Content("~/Images/" + ViewBag.model.ImagePath)" alt="chosen pic" />
        </div>

}

<div class="change">
    <ul>
        <li> <a id="a1" href="~/Korisnik/Profil">Azuriranje profila</a></li>
        <li>  <a id="a2" href="~/Admin/Index">Zahtevi za registraciju</a></li>
    </ul>

</div>


<hr />

<h4 id="prvi">All articles</h4>
<form method="post" action="~/Admin/DodajProizvod">

    <table id="t1" border="1">
        <tr>
            <th>Article</th>
            <th>Price</th>
            <th>Ingredients</th>
        </tr>
        @foreach (Proizvod p in ViewBag.proizvodi)
        {
            <tr>
                <td>@p.ImeProizvoda</td>
                <td>@p.CenaProizvoda</td>
                <td>@p.Sastojci</td>
            </tr>
        }
    </table>

    <input type="submit" value="Add new article" />
</form>




<hr />
<h4>All orders</h4>
<table id="t2" border="1">
    <tr>
        <th>Article name</th>
        <th>Amount</th>
        <th>Address</th>
        <th>Comment</th>
        <th>Price</th>
        <th>Delivery status</th>

    </tr>
    @foreach (Dostava_projekat.Models.Porudzbina item in Model)
    {
        if (item.Status == "ZAPOCETO" || item.Status == "ZAVRSENO")
        {


            <tr>
                <td>@item.StaPorucuje</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Komentar</td>
                <td>@item.CenaPorudzbine</td>
                <td>@item.Status</td>
            </tr>
        }
    }
</table>