@model IEnumerable<Dostava_projekat.Models.KorisnikKojiCekaZahtev>

<link rel="stylesheet" href="~/CSS/adminindex.css" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h4>Registration requests from delivery people</h4>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Request Status</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Dostava_projekat.Models.KorisnikKojiCekaZahtev item in Model)
                {
                    <tr>
                        <td>@item.KorisnickoIme</td>
                        <td>@item.Email</td>
                        <td>@item.Lozinka</td>
                        <td>@item.Ime</td>
                        <td>@item.Prezime</td>
                        <td>@item.DatumRodjenja</td>
                        <td>@item.Adresa</td>
                        <td>@item.Tip</td>
                        <td>@item.StatusZahteva</td>

                        @if (item.StatusZahteva == "U PROCESU")
                        {
                            <td>
                                <form method="post" action="~/Admin/PrihvatiZahtev">
                                    <input type="submit" value="Accept" class="btn accept-btn" />
                                    <input type="hidden" name="KorisnickoIme" value="@item.KorisnickoIme" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }

                        @if (item.StatusZahteva == "U PROCESU")
                        {
                            <td>
                                <form method="post" action="~/Admin/OdbijZahtev">
                                    <input type="submit" value="Reject" class="btn reject-btn" />
                                    <input type="hidden" name="KorisnickoIme" value="@item.KorisnickoIme" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
