<link rel="stylesheet" href="~/CSS/dostavljacpage.css" type="text/css" />
@{
    ViewBag.Title = "DostavljacPage";
}

@if (ViewBag.model.ImagePath != null)
{

    <div class="pic">
        <img src="@Url.Content("~/Images/" + ViewBag.model.ImagePath)" alt="chosen pic" />
    </div>


}


<div class="change">
    <a id="a1" href="~/Korisnik/Profil">Update profile</a>    
</div>


<hr />
<h4>All orders pending</h4>
<table id="t1" border="1">
    <tr>
        <th>Article name</th>
        <th>Amount</th>
        <th>Address</th>
        <th>Commnet</th>
        <th>Price</th>
        <th>Delivery status</th>
        <th>&nbsp;</th>
    </tr>

    @foreach (Dostava_projekat.Models.Porudzbina item in Model)
    {
        if (item.Status == "U TOKU")
        {
            <tr class="cv">
                <td>@item.StaPorucuje</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Komentar</td>
                <td>@item.CenaPorudzbine</td>
                <td>@item.Status</td>

                <td>
                    <form method="post" action="Prihvati">
                        <input type="submit" value="accept" />
                        <input type="hidden" name="PorudzbinaId" value="@item.PorudzbinaId" />
                    </form>
                </td>


            </tr>

        }
    }
</table>
<hr />

@foreach (Dostava_projekat.Models.Porudzbina item in Model)
{

    //prepravi u zavrseno

    if (item.Status == "ZAPOCETO" && item.DostavljacKojiMePokupio == @ViewBag.model.KorisnickoIme)
    {
        <h4>Current order</h4>
       
            <table id="t2" border="1">
                <tr>
                    <th>Article name</th>
                    <th>Amount</th>
                    <th>Address</th>
                    <th>Comment</th>
                    <th>Price</th>
                    <th>Delivery status</th>
                    <th>&nbsp;</th>

                </tr>

                <tr>
                    <td>@item.StaPorucuje</td>
                    <td>@item.Kolicina</td>
                    <td>@item.Adresa</td>
                    <td>@item.Komentar</td>
                    <td>@item.CenaPorudzbine</td>
                    <td>@item.Status</td>

                    <td>
                        <form method="post" action="~/Dostavljac/IzvrsiNarudzbinu">
                            <input type="submit" value="Izvrsi narudzbinu" />
                            <input type="hidden" name="PorudzbinaId" value="@item.PorudzbinaId" />
                        </form>

                    </td>                                    
                </tr>
           </table>
        
    }
}




