<link rel="stylesheet" href="~/CSS/dostavljacpage.css" type="text/css" />
@{
    ViewBag.Title = "DostavljacPage";
}

<h2>Dostavljac</h2>


@if (ViewBag.model.ImagePath != null)
{
<div id="div1">
    <div id="div2">
        <p>Profilna slika:</p><br />
        <img src="@Url.Content("~/Images/" + ViewBag.model.ImagePath)" alt="error" style="width:100px;height:100px;" />
    </div>

</div>
}


<div id="div3">
    <a id="a1" href="~/Korisnik/Profil">Azuriranje profila</a>    
</div>


<hr />
<h4>Sve porudzbine na cekanju (u toku)</h4>
<table id="t1" border="1">
    <tr>
        <th>Sta ste porucili</th>
        <th>Kolicina</th>
        <th>Adresa</th>
        <th>Komentar</th>
        <th>Cena porudzbine</th>
        <th>Status porudzbine</th>
        <th>&nbsp;</th>
    </tr>

    @foreach (Dostava_projekat.Models.Porudzbina item in Model)
    {
        if (item.Status == "U TOKU")
        {
            <tr>
                <td>@item.StaPorucuje</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Komentar</td>
                <td>@item.CenaPorudzbine</td>
                <td>@item.Status</td>

                <td>
                    <form method="post" action="Prihvati">
                        <input type="submit" value="prihvati" />
                        <input type="hidden" name="PorudzbinaId" value="@item.PorudzbinaId" />
                    </form>
                </td>


            </tr>

        }
    }
</table>
<hr />

@foreach (Dostava_projekat.Models.Porudzbina item in Model)
{

    //prepravi u zavrseno

    if (item.Status == "ZAPOCETO" && item.DostavljacKojiMePokupio == @ViewBag.model.KorisnickoIme)
    {
        <h3>Trenutna porudzbina</h3>
       
            <table id="t2" border="1">
                <tr>
                    <th>Sta je poruceno</th>
                    <th>Kolicina</th>
                    <th>Adresa</th>
                    <th>Komentar</th>
                    <th>Cena porudzbine</th>
                    <th>Status porudzbine</th>
                    <th>&nbsp;</th>

                </tr>

                <tr>
                    <td>@item.StaPorucuje</td>
                    <td>@item.Kolicina</td>
                    <td>@item.Adresa</td>
                    <td>@item.Komentar</td>
                    <td>@item.CenaPorudzbine</td>
                    <td>@item.Status</td>

                    <td>
                        <form method="post" action="~/Dostavljac/IzvrsiNarudzbinu">
                            <input type="submit" value="Izvrsi narudzbinu" />
                            <input type="hidden" name="PorudzbinaId" value="@item.PorudzbinaId" />
                        </form>

                    </td>
                       
                

                </tr>

            </table>
        
    }
}

<hr />



