<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/CSS/navbar.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Log out", "LogOut", "Authentication")</li>
                <li>@Html.ActionLink("Admin", "AdminPage", "Admin")</li>
                <li>@Html.ActionLink("Profile", "Profil", "Korisnik")</li>
                <li>@Html.ActionLink("Customer", "PotrosacPage", "Potrosac")</li>
                <li>@Html.ActionLink("Delivery person", "DostavljacPage", "Dostavljac")</li>
                <li>@Html.ActionLink("Verification status", "ProveraStatusa", "Dostavljac")</li>
            </ul>
        </div>
    </div>

    <!-- Dodajte page-container klasu ovde -->
    <div class="page-container">
        <div class="container body-content">
            @RenderBody()
         
            
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
