<link rel="stylesheet" href="~/CSS/profil2.css" type="text/css" />
@model Dostava_projekat.Models.Korisnik
@{
    ViewBag.Title = "Profil";
}

<form action="~/Korisnik/IzmeniProfil" method="post" class="profile-form">
    <h2>Update Your Profile</h2>

    <div class="form-group">
        <input type="email" name="email" value="@Model.Email" placeholder="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="password" name="lozinka" value="@Model.Lozinka" placeholder="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="ime" value="@Model.Ime" placeholder="Name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="prezime" value="@Model.Prezime" placeholder="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <input type="date" name="DatumRodjenja" value="@Model.DatumRodjenja.ToString("yyyy-MM-dd")" placeholder="Date of Birth" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="adresa" value="@Model.Adresa" placeholder="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label for="imgPath">Add Picture</label>
        <input type="file" id="imgPath" name="imgPath" accept="image/*" class="form-control-file" />
    </div>
    <div class="form-actions">
        <input type="submit" value="Update" class="btn btn-primary" />
        <input type="hidden" name="KorisnickoIme" value="@Model.KorisnickoIme" />
    </div>
</form>
